In [1]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# df = pd.read_csv(r'./../data/WA_Fn-UseC_-Telco-Customer-Churn.csv')
# df.sample(5)

In [3]:
# Read the main DataFrame

df = pd.read_excel(r'./../data/Telco_customer_churn.xlsx')

In [4]:
# Read auxiliar DataFrames

df_demographics = pd.read_excel(r'./../data/Telco_customer_churn_demographics.xlsx')
df_location = pd.read_excel(r'./../data/Telco_customer_churn_location.xlsx')
df_population = pd.read_excel(r'./../data/Telco_customer_churn_population.xlsx')
df_services = pd.read_excel(r'./../data/Telco_customer_churn_services.xlsx')
df_status = pd.read_excel(r'./../data/Telco_customer_churn_status.xlsx')

In [5]:
# Creating list of auxiliar DataFrames to iterate

aux_dfs = [df_demographics, df_location, df_population, df_services, df_status]
aux_dfs_names = ['df_demographics', 'df_location', 'df_population', 'df_services', 'df_status']

In [6]:
# df columns, info and sample

print(df.columns, '\n')
print(df.info(), '\n')
with pd.option_context('display.max_columns', 33):
    display(df.sample(5))

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB
None

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
507,8183-ONMXC,1,United States,California,Chula Vista,91915,"32.605012, -116.97595",32.605012,-116.975950,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,Yes,Month-to-month,No,Electronic check,80.75,159.45,Yes,1,87,2176,Attitude of support person
6368,4226-KKDON,1,United States,California,French Camp,95231,"37.873283, -121.292034",37.873283,-121.292034,Male,No,No,No,8,Yes,No,DSL,No,Yes,No,Yes,Yes,No,Month-to-month,Yes,Electronic check,66.65,520.95,No,0,60,3804,NaN
4391,3272-VUHPV,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188,Female,No,Yes,Yes,8,Yes,No,DSL,No,Yes,No,Yes,No,No,Month-to-month,No,Bank transfer (automatic),56.30,401.5,No,0,21,3135,NaN
3008,3794-NFNCH,1,United States,California,Bella Vista,96008,"40.722733, -122.109666",40.722733,-122.109666,Male,No,Yes,No,30,Yes,No,DSL,No,No,Yes,No,No,No,Month-to-month,Yes,Mailed check,50.00,1474.9,No,0,29,4715,NaN
3750,7285-KLOTR,1,United States,California,Pacifica,94044,"37.573633, -122.455167",37.573633,-122.455167,Female,No,Yes,No,12,Yes,Yes,DSL,Yes,No,Yes,No,Yes,Yes,One year,No,Electronic check,78.85,876.75,No,0,55,2495,NaN

In [7]:
for i, d in enumerate(aux_dfs):
    print(aux_dfs_names[i], ':\n')
    print(d.columns, '\n')
    print(d.info(), '\n')

df_demographics :

Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer ID           7043 non-null   object
 1   Count                 7043 non-null   int64
 2   Gender                7043 non-null   object
 3   Age                   7043 non-null   int64
 4   Under 30              7043 non-null   object
 5   Senior Citizen        7043 non-null   object
 6   Married               7043 non-null   object
 7   Dependents            7043 non-null   object
 8   Number of Dependents  7043 non-null   int64
dtypes: int64(3), object(6)
memory usage: 495.3+ KB
None

df_location :

Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  7043 non-null   object
 1   Count        7043 non-null   int64
 2   Country      7043 non-null   object
 3   State        7043 non-null   object
 4   City         7043 non-null   object
 5   Zip Code     7043 non-null   int64
 6   Lat Long     7043 non-null   object
 7   Latitude     7043 non-null   float64
 8   Longitude    7043 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 495.3+ KB
None

df_population :

Index(['ID', 'Zip Code', 'Population'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1671 non-null   int64
 1   Zip Code    1671 non-null   int64
 2   Population  1671 non-null   int64
dtypes: int64(3)
memory usage: 39.3 KB
None

df_services :

Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Quarter                            7043 non-null   object
 3   Referred a Friend                  7043 non-null   object
 4   Number of Referrals                7043 non-null   int64
 5   Tenure in Months                   7043 non-null   int64
 6   Offer                              7043 non-null   object
 7   Phone Service                      7043 non-null   object
 8   Avg Monthly Long Distance Charges  7043 non-null   float64
 9   Multiple Lines                     7043 non-null   object
 10  Internet Service                   7043 non-null   object
 11  Internet Type                      7043 non-null   object
 12  Avg Monthly GB Download            7043 non-null   int64
 13  Online Security                    7043 non-null   object
 14  Online Backup                      7043 non-null   object
 15  Device Protection Plan             7043 non-null   object
 16  Premium Tech Support               7043 non-null   object
 17  Streaming TV                       7043 non-null   object
 18  Streaming Movies                   7043 non-null   object
 19  Streaming Music                    7043 non-null   object
 20  Unlimited Data                     7043 non-null   object
 21  Contract                           7043 non-null   object
 22  Paperless Billing                  7043 non-null   object
 23  Payment Method                     7043 non-null   object
 24  Monthly Charge                     7043 non-null   float64
 25  Total Charges                      7043 non-null   float64
 26  Total Refunds                      7043 non-null   float64
 27  Total Extra Data Charges           7043 non-null   int64
 28  Total Long Distance Charges        7043 non-null   float64
 29  Total Revenue                      7043 non-null   float64
dtypes: float64(6), int64(5), object(19)
memory usage: 1.6+ MB
None

df_status :

Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         7043 non-null   object
 1   Count               7043 non-null   int64
 2   Quarter             7043 non-null   object
 3   Satisfaction Score  7043 non-null   int64
 4   Customer Status     7043 non-null   object
 5   Churn Label         7043 non-null   object
 6   Churn Value         7043 non-null   int64
 7   Churn Score         7043 non-null   int64
 8   CLTV                7043 non-null   int64
 9   Churn Category      1869 non-null   object
 10  Churn Reason        1869 non-null   object
dtypes: int64(5), object(6)
memory usage: 605.4+ KB
None

In [8]:
# Looking how many unique values are in each column

for c in df.columns:
    print(f'Cardinalidad de {c}: {df[c].nunique()}')

Cardinalidad de CustomerID: 7043
Cardinalidad de Count: 1
Cardinalidad de Country: 1
Cardinalidad de State: 1
Cardinalidad de City: 1129
Cardinalidad de Zip Code: 1652
Cardinalidad de Lat Long: 1652
Cardinalidad de Latitude: 1652
Cardinalidad de Longitude: 1651
Cardinalidad de Gender: 2
Cardinalidad de Senior Citizen: 2
Cardinalidad de Partner: 2
Cardinalidad de Dependents: 2
Cardinalidad de Tenure Months: 73
Cardinalidad de Phone Service: 2
Cardinalidad de Multiple Lines: 3
Cardinalidad de Internet Service: 3
Cardinalidad de Online Security: 3
Cardinalidad de Online Backup: 3
Cardinalidad de Device Protection: 3
Cardinalidad de Tech Support: 3
Cardinalidad de Streaming TV: 3
Cardinalidad de Streaming Movies: 3
Cardinalidad de Contract: 3
Cardinalidad de Paperless Billing: 2
Cardinalidad de Payment Method: 4
Cardinalidad de Monthly Charges: 1585
Cardinalidad de Total Charges: 6531
Cardinalidad de Churn Label: 2
Cardinalidad de Churn Value: 2
Cardinalidad de Churn Score: 85
Cardinalidad de CLTV: 3438
Cardinalidad de Churn Reason: 20

In [9]:
# Unique value for columns that have only one

for c in df.columns:
    if df[c].nunique() == 1:
        print(df[c].value_counts(), '\n')

1    7043
Name: Count, dtype: int64

United States    7043
Name: Country, dtype: int64

California    7043
Name: State, dtype: int64

In [10]:
for i, d in enumerate(aux_dfs):
    print(aux_dfs_names[i], ':\n')
    for c in d.columns:
        print(f'Cardinalidad de {c}: {d[c].nunique()}')
    print('\n')

df_demographics :

Cardinalidad de Customer ID: 7043
Cardinalidad de Count: 1
Cardinalidad de Gender: 2
Cardinalidad de Age: 62
Cardinalidad de Under 30: 2
Cardinalidad de Senior Citizen: 2
Cardinalidad de Married: 2
Cardinalidad de Dependents: 2
Cardinalidad de Number of Dependents: 10


df_location :

Cardinalidad de Customer ID: 7043
Cardinalidad de Count: 1
Cardinalidad de Country: 1
Cardinalidad de State: 1
Cardinalidad de City: 1106
Cardinalidad de Zip Code: 1626
Cardinalidad de Lat Long: 1679
Cardinalidad de Latitude: 1626
Cardinalidad de Longitude: 1625


df_population :

Cardinalidad de ID: 1671
Cardinalidad de Zip Code: 1671
Cardinalidad de Population: 1607


df_services :

Cardinalidad de Customer ID: 7043
Cardinalidad de Count: 1
Cardinalidad de Quarter: 1
Cardinalidad de Referred a Friend: 2
Cardinalidad de Number of Referrals: 12
Cardinalidad de Tenure in Months: 72
Cardinalidad de Offer: 6
Cardinalidad de Phone Service: 2
Cardinalidad de Avg Monthly Long Distance Charges: 3584
Cardinalidad de Multiple Lines: 2
Cardinalidad de Internet Service: 2
Cardinalidad de Internet Type: 4
Cardinalidad de Avg Monthly GB Download: 50
Cardinalidad de Online Security: 2
Cardinalidad de Online Backup: 2
Cardinalidad de Device Protection Plan: 2
Cardinalidad de Premium Tech Support: 2
Cardinalidad de Streaming TV: 2
Cardinalidad de Streaming Movies: 2
Cardinalidad de Streaming Music: 2
Cardinalidad de Unlimited Data: 2
Cardinalidad de Contract: 3
Cardinalidad de Paperless Billing: 2
Cardinalidad de Payment Method: 3
Cardinalidad de Monthly Charge: 1585
Cardinalidad de Total Charges: 6540
Cardinalidad de Total Refunds: 500
Cardinalidad de Total Extra Data Charges: 16
Cardinalidad de Total Long Distance Charges: 6110
Cardinalidad de Total Revenue: 6996


df_status :

Cardinalidad de Customer ID: 7043
Cardinalidad de Count: 1
Cardinalidad de Quarter: 1
Cardinalidad de Satisfaction Score: 5
Cardinalidad de Customer Status: 3
Cardinalidad de Churn Label: 2
Cardinalidad de Churn Value: 2
Cardinalidad de Churn Score: 81
Cardinalidad de CLTV: 3438
Cardinalidad de Churn Category: 5
Cardinalidad de Churn Reason: 20

In [11]:
for i, d in enumerate(aux_dfs):
    print(aux_dfs_names[i], ':\n')
    for c in d.columns:
        if d[c].nunique() == 1:
            print(df[c].value_counts(), '\n')
    print('\n')

df_demographics :

1    7043
Name: Count, dtype: int64



df_location :

1    7043
Name: Count, dtype: int64

United States    7043
Name: Country, dtype: int64

California    7043
Name: State, dtype: int64



df_population :



df_services :

1    7043
Name: Count, dtype: int64

KeyError: 'Quarter'

In [12]:
# Looking for columns in auxiliar DataFrames not included in the main one
# Some could be the same columns with different names

for i, d in enumerate(aux_dfs):
    print(aux_dfs_names[i], ':\n')
    for c in d.columns:
        if c not in df.columns:
            print(f'Column {c} is not in main DataFrame')
    print('\n')

df_demographics :

Column Customer ID is not in main DataFrame
Column Age is not in main DataFrame
Column Under 30 is not in main DataFrame
Column Married is not in main DataFrame
Column Number of Dependents is not in main DataFrame


df_location :

Column Customer ID is not in main DataFrame


df_population :

Column ID is not in main DataFrame
Column Population is not in main DataFrame


df_services :

Column Customer ID is not in main DataFrame
Column Quarter is not in main DataFrame
Column Referred a Friend is not in main DataFrame
Column Number of Referrals is not in main DataFrame
Column Tenure in Months is not in main DataFrame
Column Offer is not in main DataFrame
Column Avg Monthly Long Distance Charges is not in main DataFrame
Column Internet Type is not in main DataFrame
Column Avg Monthly GB Download is not in main DataFrame
Column Device Protection Plan is not in main DataFrame
Column Premium Tech Support is not in main DataFrame
Column Streaming Music is not in main DataFrame
Column Unlimited Data is not in main DataFrame
Column Monthly Charge is not in main DataFrame
Column Total Refunds is not in main DataFrame
Column Total Extra Data Charges is not in main DataFrame
Column Total Long Distance Charges is not in main DataFrame
Column Total Revenue is not in main DataFrame


df_status :

Column Customer ID is not in main DataFrame
Column Quarter is not in main DataFrame
Column Satisfaction Score is not in main DataFrame
Column Customer Status is not in main DataFrame
Column Churn Category is not in main DataFrame

In [ ]:
# df_location: no columns to merge
# df_population: Population on Zip Code
# df_demographics: Number of Dependents is categorized by Dependents (dichotomic), append the others
# df_status: Quarter

In [ ]:
# Data is about state of California, in the United States. We can now drop this columns.
# We also can drop column 'Count'. Probably the person who collected data created this column to check no clients were duplicated.

df = df.drop(columns=['Count', 'Country', 'State'])